<t> This extension defines 1) an extensible Contract format, 2) protocol to exchange the Contract, 3)protocol to share personal information based on the Contract and 4)protocol to provide access log.
The Proposer creates a signed Proposal which describes  what personal information is wanted and send it to the Signatory specified the End User.
The Signatory, upon agreeing to it, signs agreements and provides the Contract.
The combination of the Proposal and Contract is the mutually signed and is potentially legally binding.
This Contract needs to be stored by all bound parties for a given length of time, usually spanning over many years depending on jurisdictions.
</t>
<t> As these document size may be large while the user agent capability may be limited (e.g., mobile phones), sending them via direct communication and passing only the small reference called "Artifact" through the user agents are advisable. Therefore, as the protocol, use of Artifact Binding is strongly recommended. </t>
