<t>
Every data endpoint MUST provide access log record if it is requested by Signatory.
Access log records MUST be also encrypted in {{ xref.JSON_SIMPLE_ENC_1_0 }}.
</t>
<t>
Access log is JSON structured with followng parameters.
</t>
<t>
    <list style="symbols">
        {% for p in access_log_file : %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>
Default "log" parameter is an array of arrays in which following data are contained in order.
</t>
<t>
    <list style="symbols">
        {% for p in access_log : %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>
The following is a non-normative sample of access log.
</t>
<figure>
    <artwork><![CDATA[
{% include "access_log_file.json" %}
    ]]></artwork>
</figure>

