<t>
A CX Acceptance is a copy form original CX Request "payload"  with extra parameters including End User's privacy data added by OP and End User.
OP MUST produce two CX Acceptances for a single CX Request. Each of them is to be included in CX Contract for proper party.
Privacy data like canonical identifier SHOULD be different from each other.
</t>

<t>
Other paramters  than the following have same meaning as ones defined in CX Reuest.
</t>
<t>
    <list style="symbols">
        {% for p in acceptance: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Request JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "acceptance.json" %}
    ]]></artwork>
</figure>

