<t>
Acceptance is a response file of original Request "payload" and describes what is End User's PPID, where End User's Personal Information comes from and any other data required to response End User's Personal Information by Server.

Signatory MUST produce two Acceptances for a single Request, one is for Client's Contract Part and the other is for Server's Contract Part.
Personal information like canonical identifier SHOULD be different from each other.
</t>

<t>
Other paramters  than the following have same meaning as ones defined in Request.
</t>
<t>
    <list style="symbols">
        {% for p in acceptance: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for Acceptance object:</t>

<figure>
    <artwork><![CDATA[
{% include "acceptance.json" %}
    ]]></artwork>
</figure>

