<section title="Accepting OpenID Artifact Binding Request">

<t>When an End User request a OpenID Artifact Binding request or a Proposer directly sends Request Registration request, Signatory SHOULD check if that request includes extensions named "cx".
</t>

</section>


<section title="Verify Proposal">

<t>
If OpenID request file containes "cx" extension,the Proposal Token signature MUST be verified in the way described in {{ xref.JSON_SIMPLE_SIGN_1_0 }}.
</t>
<t>
All Reqeust Tokens in "reqs" array MUST be verified. 
</t>

<section title="Policy Based Contract">
<t>
If End User configures his/her policy at Signatory to issued Contract for specific claims's condition, Signatory MAY issue Contract without authenticating End User. Signatory MAY return OpenID Assertion including CX Contract in such case. 
</t>
</section>

</section>

<section title="Grants from Authenticated End User">
<t>
If Proposal and all Requests in it are valid, End User MUST be authenticated. Signatory MUST display "template" what exactly each Party requests to the authenticated End User. To compose a Contract, the End User MUST agree the content displayed by Signatory.
</t>

</section>

<section title="Compose Acceptance for Each Request">

<t>
If End User agrees, Signatory creates two Acceptance JSON objects for each Request, one for Client and the other for Server.
Privacy parameter MAY be different from each other.
</t>

</section>


<section title="Compose Contracts">

<t>
Signatory provides Contract Part JSON objects for all Parties. Each Contract Part  shares unique URI, Contract Identifier,  as "contract_id" member of it. 
All Acceptance JSON objects are stored in "acceptances" array member of that JSON object.
</t>

<t>
The original Proposal MUST be refered as "proposal_id" with its identifier. The digest segment of the Proposal Token MUST be appended as URI fragment.
</t>

<t>
Signatory MUST publish Contract Part in exchange for "contract_id" and "party_id" from a Party in the form of Contract Token which is the product of {{ xref.JSON_SIMPLE_ENC_1_0 }}.
</t>

</section>
