<t>
Contract Part is container JSON object of Acceptances and enveloped by {{ xref.JSON_SIMPLE_SIGN_1_0 }} and provided for each Party by Signatory. All Contract Part shares a Contract Indenfier.
</t>

<t>
Following parameters are placed in a JSON object held by "payload" parameter  of {{ xref.JSON_SIMPLE_SIGN_1_0 }} JSON.
</t>

<t>
    <list style="symbols">
        {% for p in contract: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for Contract Part object:</t>

<figure>
    <artwork><![CDATA[
{% include "contract.json" %}
    ]]></artwork>
</figure>
