<section title="CX Data Request">

<t>
A party bound to a CX Contract MAY request data from a endpoint exposed by the other party bound to the same CX Contract
A request MUST be formed in a HTTP GET request defined in the following URL.
</t>

<figure>
    <artwork><![CDATA[
endpoint?party=_party_identfier_&cxid=_cx_identifier_
    ]]></artwork>
</figure>

<t>where parameters are definend in the following.</t>

<t>
    <list style="symbols">
        {% for p in data_request: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>


<section title="Encrypted Response">
<t>
Data response MUST be formed in JSON Encryption Envelope and encrypted for "party" in the request.
</t>
</section>

</section>
