<section title="CX Data Request">

<section title="Endpoint">
<t>
Client MAY request data from a endpoint exposed by Server bound to the same Contract.  
The endpoint of End User's Privacy Data is specified "endpoint" parameter of Request and Acceptance JSON. 
</t>
<t>
Access log records MAY be requested in the same endpoint when "log" parameter is set to "true".
</t>
<t>
Also Party MAY request its Contract Part Token dicrectly to Signagory. The endpoint URL for Contract Part Token  is "contract_id" itself.
</t>
</section>

<section title="Parameters">
<t>CX data request parameters to be sent to URI described "Endpoint" section  are definend in the following.</t>
<t>
    <list style="symbols">
        {% for p in data_request: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>
</section>

<section title="Encrypted Response">
<t>
Data response MUST be formed in {{ xref.JSON_SIMPLE_ENC_1_0 }} and encrypted for "party" in the request. Privacy data, Contract Part  Token and access log MUST be returned in {{ xref.JSON_SIMPLE_ENC_1_0 }} with using valid public key of specified party.
</t>
</section>


<section title="Access Log Record Format">
    {% include "access_log.tmpl" %}
</section>

</section>
