<t> All OpenID 2.0 Artifact Binding messages that contain OpenID Contract Exchange (CX) JSON node MUST contain "type" member starts with the following URI.</t>
<figure>
    <artwork><![CDATA[
            http://specs.openid.net/extensions/cx/1.0/
    ]]></artwork>
</figure>
<t/>
<t> Variety of sub class message contains fragments at the end of the type URI.</t>
