<t>
Actually Sdata JSON MUST be encrypted with "server_id"'s public key in JSON Encrypted Envelop format.
</t>

<t>
    <list style="symbols">
        {% for p in encrypted_sdata: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Encrypted Sdata JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "encrypted_sdata.json" %}
    ]]></artwork>
</figure>
