<t>CX exchange contract data by extending OpenID Artifact Binding protocol. JSON is the default document , the extended {{ xref.JSON_SIMPLE_SIGN_1_0 }} is used for digital signature and the extended {{ xref.JSON_SIMPLE_ENC_1_0 }} is used for asymmetric encryption with public key infrastructure.</t>

<section title="JSON and Token">
    {% include "json.tmpl" %}
</section>
<section title="Structures">
    {% include "structures.tmpl" %}
</section>
<section title="Storage and Timestamping">
    {% include "storage_timestamping.tmpl" %}
</section>
