<t>CX uses JSON format which is used in OpenID Artifact Binding request file and assertion. All file used for CX MUST have "type" member in a JSON object( enclosed in open and close curly braces ) and the value of "type" MUST be URI and start with :</t>

<figure>
    <artwork><![CDATA[
http://specs.openid.net/cx/1.0/#
    ]]></artwork>
</figure>

<t>And CX JSON object MAY optionally have "id" member for specifying any particular JSON object. "id" MUST be a URI uniquely allocated by the creating party.</t>

<t>So, a generic CX JSON object likes like the following</t>

<figure>
    <artwork><![CDATA[
{
    "type" : "http://specs.openid.net/cx/1.0/#",
    "id"   : "http://rp.net/432144395df"
}
    ]]></artwork>
</figure>

<section title="OpenID Extention">
<t>
As an extension of OpenID, CX JSON object must be included as "cx" member of OpenID JSON object.
</t>

<figure>
    <artwork><![CDATA[
{
    ... OpenID JSON object parameters ...
    "cx" : {
       type : "http://specs.openid.net/cx/1.0/#",
       ... OpenID CX JSON object parameters ...
    }
}
    ]]></artwork>
</figure>

</section>

<section title="Extending CX JSON">
<t>
Although any CX JSON object MUST have members specified for  "type", any other member MAY be used if parties agree the meaning of it.  Any CX JSON MAY has any other JSON object as a member in itself. If a member is a JSON object,  "type" and "id" SHOULD be checked firstly and this should be done recursively.
</t>
</section>

<section title="Signed JSON">
<t>
Some CX  JSON object MUST be digitally signed  to prove a particular JSON object's composer.
Magic Envelope is the default format. Like other CX JSON,  Magic Envelopes used for CX MUST have "type" and MAY optionally have "id".
</t>
<t>
Other JSON member  used for particular CX JSON Magic Envelope file are identified by its "type".
</t>
</section>

<section title="Encrypted JSON">
<t>
Some CX JSON object SHOULD be asymmetrically encrypted to ensure that only the recipient can read the JSON object. 
JSON Encryption Envelope  is the default format.
Like other CX JSON object,  JSON Encrypted Envelope used for CX MUST have "type" and MAY optionally have "id".
</t>
<t>
Other JSON member used for particular CX JSON Encryption Envelope file are identified by its "type".
</t>
</section>
