<t>CX uses JSON format which is used in {{ xref.OPENID_AB }} Request file and assertion. All file used for CX MUST have "type" member in a JSON object( enclosed in open and close curly braces ) and the value of "type" MUST be URI and start with :</t>

<figure>
    <artwork><![CDATA[
{{ cxurl }}
    ]]></artwork>
</figure>

<t>CX JSON object MAY optionally have "id" member for specifying any particular JSON object. "id" MUST be a URI uniquely allocated by the creating party.</t>

<t>So, a generic CX JSON object likes like the following</t>

<figure>
    <artwork><![CDATA[
{
    "type" : "{{ cxurl }}",
    "id"   : "http://rp.net/432144395df"
}
    ]]></artwork>
</figure>

<section title="Extending CX JSON">
<t>
Although any CX JSON object MUST have members specified for  "type", any other member MAY be used if parties agree the meaning of it.  Any CX JSON MAY has any other JSON object as a member in itself. If a member is a JSON object,  "type" and "id" SHOULD be checked firstly and this should be done recursively.
</t>
</section>

<section title="Signed JSON and Token">
<t>
Some CX JSON object MUST be digitally signed  to prove a particular JSON object's composer.
 {{ xref.JSON_SIMPLE_SIGN_1_0 }} is the default format. Some CX JSON is enveloped by {{ xref.JSON_SIMPLE_SIGN_1_0 }} .
Signed CX JSON is formed in the "Web Token Serialization" defined in {{ xref.JSON_SIMPLE_SIGN_1_0 }}. Following the sample of signed and tokenized CX JSON.
</t>
<figure>
    <artwork><![CDATA[
      6a82841eea9c17677083b2965bc4e51e0e8e22e208121ab69711b3e5918c6677.eyAndGVzdCc6J2RhdGEnfQ==
    ]]></artwork>
</figure>

</section>

<section title="Encrypted JSON">
<t>
Some CX JSON object SHOULD be asymmetrically encrypted to ensure that only the recipient can read the JSON object. 
{{ xref.JSON_SIMPLE_ENC_1_0 }} is the default format.
</t>
</section>

<section title="OpenID Extention">
<t>
As an extension of OpenID, CX JSON object must be included as "cx" member of OpenID JSON object.
Beause CX JSON object on OpenID message MUST be signed, "cx" member is actually a token string.
</t>

<figure>
    <artwork><![CDATA[
{
    ... OpenID JSON object parameters ...
    "cx" : "crypto_segment.claim_segment",

}
    ]]></artwork>
</figure>

</section>
