  <middle>

    <section title="Terminology">
      <section title="Requirements Notation">
        {% include "requirement_notation.tmpl" %}
      </section>

      <section title="Definitions and Conventions">
        {% include "definition_convention.tmpl" %}
      </section>

      <section title="Terms">
        {% include "terms.tmpl" %}
      </section>

    </section>

    <section title="Overview">
        {% include "overview.tmpl" %}
    </section>

    <section title="Files">
        {% include "files.tmpl" %}
    </section>

    <section title="Protocal">
        {% include "protocol.tmpl" %}
    </section>

    <section title="Security Considerations">
        {% include "security_considerations.tmpl" %}
    </section>

    <appendix title="Acknowledgements">
        {% include "acknowlegements.tmpl" %}
    </appendix>

  </middle>
