<t>TODO: Here should be a sample use case description for a CX transaction for non-normative examples in this section and delivered to the RP from OP in an OpenID Artifact Binding assertion.</t>
<t> An OpenID Artifact Binding assertion holding a CX Contract might be described here .</t>

<t>
Here is a  non-normative example of a CX Contract which is actually the {{ xref.JSON_SIMPLE_SIGN_1_0 }}version of CX Acceptance.
</t>

<figure>
    <artwork><![CDATA[
{
    "type" :  "http://specs.openid.net/cx/1.0/#contract",
    "id" : "http://op.com/contract/f43213214",
    "signatory_certs" : "PEM  string of OP(signer)'s X.509 certificate " , 
     ...    (other JSON SIMPLE SIGN MEMBERS )   ...
}
    ]]></artwork>
</figure>


<t>
Here is a non-normative example of a CX Acceptance which is composed by the OP.
</t>
<figure>
    <artwork><![CDATA[
{
   // sample of a Acceptance
}
    ]]></artwork>
</figure>

<t>
Each privacy data encrypted and held in CX Acceptance and Response is originally formed like the following JSON object
</t>
<figure>
    <artwork><![CDATA[
{
    // sample of a Sdata
}

    ]]></artwork>
</figure>

<t>Also original request files are formed like the following JSON before they are digitally signed</t>

<figure>
    <artwork><![CDATA[
{
    // sample of a Sdata
}
    ]]></artwork>
</figure>
