<t>
Signatory and other Party MAY send the status of Contract to the endpoint specified by "notify" member of Proposal or Request. 
"status" query parameter MUST be a Status JSON object.
</t>

<t>
Signatory and Party MAY request their Contract Party Token using Data Request mechanism.
</t>
