<t>
OP and other bound party MAY send the status of the CX Contract to the endpoint specified by "notify" member of CX Proposal or CX Request. 
"status" query parameter MUST be a CX Status JSON object.
</t>

<t>
RP and other bound party  MAY request the CX Contract using Data Request mechanism.
</t>
