<t>
OP MAY send the status code of the CX Contract to the endpoint specified by "endpoint" member of CX Proposal. "code" query parameter SHOULD be artifact binding "code" and given to the endpoint URL. "status" query parameter SHOULD be the status of CX Contract.
</t>

<t>
RP MAY request a direct assertion request using "code" query paramter to get JSON including CX Contract or CX Status JSON object.
</t>
