<t>
A CX Proposal is a contrainer JSON to hold CX Request token of parties and enveloped by {{ xref.JSON_SIMPLE_SIGN_1_0 }}.
</t>

<t>
Following parameters are placed in a JSON object held by "payload" parameter  of {{ xref.JSON_SIMPLE_SIGN_1_0 }} JSON.
</t>

<t>
    <list style="symbols">
        {% for p in proposal : %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Proposal JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "proposal.json" %}
    ]]></artwork>
</figure>

