<t>
Request is a extended {{ xref.OPENID_AB }} Request file enveloped by {{ xref.JSON_SIMPLE_SIGN_1_0 }}. 
Every party bound to  Contract MUST prepare  Request in signed token format.
Request should be prepared in the course of the process described in " <xref target="advertising_service">Advertising Service</xref>". 
</t>
<t>
Following parameters are placed in a JSON object held by "payload" parameter  of {{ xref.JSON_SIMPLE_SIGN_1_0 }} JSON.
</t>

<t>
    <list style="symbols">
        {% for p in request: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Request JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "request.json" %}
    ]]></artwork>
</figure>
