<t>
A CX Request is a extended OpenID Artifact Binding Request file as well as OAuth Signature Envelope. 
Every party bound to a CX Contract MUST prepare a CX Request in signed token format.
</t>

<t>
    <list style="symbols">
        {% for p in request: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Request JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "request.json" %}
    ]]></artwork>
</figure>
