<section title="Advertising Service">

<t>Before advertising CX Service, Proposer  MUST collect all Request token related to that Service. 
Some Request token MAY be provided by any party other than the Proposeritself.</t>

<t>
Proposer SHOULD provide an user interface like image button for End Users to click to go to the Service and Proposer starts providing Proposal and CX process.
</t>

</section>

<section title="Providing CX Proposal">

<t>
When an End User visits the particular CX Service at the Proposer, the Proposer firstly composes a Proposal for the End User. 
All Request Token to be bound to the Contract MUST be included in "reqs" member of Proposal JSON object. 
Proposal JSON MUST be finally singed into a Proposal Token.
</t>
</section>


<section title="Start OpenID Artifact Binding Session">

<t>
A Proposal Token is a extension of OpenID Artifact Binding. It SHOULD be a member of Artifact Binding Request file JSON object like in the following sample JSON:
</t>


<figure>
    <artwork><![CDATA[
{
    ...( OPENID ARTIFACT BINDING  REQUEST FILE JSON MEMBERS ) ...,
    "cx" : "crypto_segment_of_cx_proposal_token.claim_segment_of_cx_proposal_token",
}
    ]]></artwork>
</figure>

<t>
OpenID authentication request session MUST be started to the Signatory specified by the End User at the Proposer's CX Service page.
</t>
</section>
