<t>
A CX Signed Contract is a Magic Enveloped version of a CX Contract.
When a party requests its Contract for contract_id and partty_id, OP MUST response it in Signed Contract format.
</t>

<t>
    <list style="symbols">
        {% for p in signed_contract: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Contract JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "signed_contract.json" %}
    ]]></artwork>
</figure>
