<t>
Status  is a simple JSON object to describe the status of Contract.
</t>

<t>
    <list style="symbols">
        {% for p in status: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for Status object:</t>

<figure>
    <artwork><![CDATA[
{% include "status.json" %}
    ]]></artwork>
</figure>


