<t>
The Contract is supposed to act as a proof of agreement in case of dispute at a later date. 
Since contracts may be long term documents, there is a risk that are not so relevant in transient processing, 
such as Algorithm Compromise. Thus, care should be taken to appropriately process the contract through Timestamping etc.</t>

