<section title="Sending Proposal">
    {% include "sending_proposal.tmpl" %}
</section>
<section title="Accepting Proposal">
    {% include "accepting_proposal.tmpl" %}
</section>
<section title="Receiving Contract">
    {% include "receiving_contract.tmpl" %}
</section>

<section title="Notify Contract Status">
    {% include "notify_contract_status.tmpl" %}
</section>

<section title="Data Request">
    {% include "data_request.tmpl" %}
</section>
