<t>
A CX Response is a reply to each CX Request and holds privacy information only accessible to a particular party. 
Privacy data SHOULD be asymmetrically encrypted JSON called "Encrypted Sdata" described later in this document. 
</t>

<t>
    <list style="symbols">
        {% for p in response: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX ResponseJSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "response.json" %}
    ]]></artwork>
</figure>


<section title="Sdata">
    {% include "sdata.tmpl" %}
</section>

<section title="Encrypted Sdata">
    {% include "encrypted_sdata.tmpl" %}
</section>



