<t>
A CX Sdata holds privacy data only accessible to the receipient.
</t>

<t>
    <list style="symbols">
        {% for p in sdata: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Sdata JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "sdata.json" %}
    ]]></artwork>
</figure>


