<t>
A CX Contract is a  Magic Enveloped version of Acceptance and  is returned by the OP in OpenID Artifact Binding assertion.
</t>

<t>
    <list style="symbols">
        {% for p in contract: %}
            <t> {{p.name}}
                <list style="symbols">
                    {% for v in p.note: %}
                        <t>{{v}}</t>
                    {% endfor %}
                </list>
            </t>
        {% endfor %}
    </list>
</t>

<t>The following is a non-normative sample for CX Contract JSON object:</t>

<figure>
    <artwork><![CDATA[
{% include "contract.json" %}
    ]]></artwork>
</figure>


